Repository nextcloud/maps, pull requests merged in 2019-09, with the labels that each got.

#94 attempt to fix "get contacts": 'foreach(->ADR...'
  lib/Controller/ContactsController.php
  lib/Service/AddressService.php
Labels: bug, feature: 👥 contacts

#107 fix insertion problems in address_geo table
  appinfo/info.xml
  lib/Migration/Version000102Date20190901152326.php
Labels: bug, feature: 👥 contacts

#118 fixed117
  js/script.js
Labels: enhancement, feature: ↗️ routing

#140 Attempt to fix #125
  js/devicesController.js
  js/favoritesController.js
  js/tracksController.js
Labels: bug, feature: :mountain_biking_woman: tracks

#152 Fix #128 and generally improve initial media scan
  appinfo/info.xml
  js/script.js
  lib/Command/RescanPhotos.php
  lib/Command/RescanTracks.php
  lib/Migration/InstallScan.php
Labels: bug, feature: :mountain_biking_woman: tracks, feature: 🖼 photos

#150 refs #135 fix context menu routing actions
  js/script.js
Labels: bug, feature: ↗️ routing

#157 refs #133 disable contact tooltip when popup is open
  js/contactsController.js
Labels: bug, feature: 👥 contacts

#139 Attempt to fix postWrite hook, fix #138
  appinfo/application.php
  lib/Hooks/FileHooks.php
Labels: bug, feature: 🖼 photos

#158 refs #109 fix old migration script to avoid crash when installing on …
  lib/Migration/Version000009Date20190625000800.php
Labels: bug

#160 refs #102 warn user when importing favorite file with tracks/routes
  js/favoritesController.js
  lib/Controller/FavoritesController.php
  lib/Service/FavoritesService.php
  tests/Unit/Controller/FavoritesControllerTest.php
Labels: enhancement, feature: :star: favorites
