Repository nextcloud/maps, pull requests merged in 2020-01, with the labels that each got.

#195 Improve design of Contacts tooltip and popup
  css/style.scss
  js/contactsController.js
Labels: design, enhancement, feature: 👥 contacts

#235 Bumped Version to 0.1.3
  Makefile
  appinfo/info.xml
Labels: enhancement

#269 Up max-version to 19 for latest server master
  appinfo/info.xml
Labels: bug

#251 Fixed update photo by file job
  js/script.js
  lib/BackgroundJob/AddPhotoJob.php
  lib/BackgroundJob/UpdatePhotoByFileJob.php
  lib/Service/GeophotoService.php
Labels: bug, feature: 🖼 photos
