Repository nextcloud/maps, pull requests merged in 2020-05, with the labels that each got.

#338 Allow import from Google Takeout JSON
  lib/Controller/FavoritesController.php
  lib/Service/FavoritesService.php
  src/favoritesController.js
  src/filetypes.js
  templates/navigation/index.php
Labels: enhancement, feature: :star: favorites

#380 Update max-version to 20 for current development version
  appinfo/info.xml
Labels: bug, technical debt

#381 Change npm install to npm ci to not modify package-lock.json
  Makefile
Labels: enhancement, technical debt

#378 fix issue #367
  src/photosController.js
Labels: bug, design, feature: 🖼 photos

#382 Fixes to sharing link page
  src/PublicFavoriteShare.vue
  src/components/map/FavoritePopup.vue
Labels: bug, feature: :star: favorites, feature: 🔗 sharing
